﻿<div class="sm-head">
    <ul class="breadcrumbs">
        <li>Customers</li>
    </ul>
</div>
<div class="sm-body">
    <button class="btn btn-sm btn-default" ng-click="addCustomer()"> <i class="fa fa-plus"></i> Add New Customer</button>
    <br />
    <br />
    <div ui-grid="gridOptions" class="ui-grid"></div>
</div>