﻿ <!-- HEADER MAIN -->
<header class="header-main clearfix header-accounts">
    <!-- BOX LIST -->
    <div class="box-list-room clearfix">
        <button class="box-list-button accounts" ng-click="productnav=!productnav"></button>
        <div class="box-list-inner" ng-show="productnav">
            <span class="triangle-up"></span>
            <div class="box-list">
                <ul>
                    <!-- <li><a href="#" class="box-payroll"><i class="fa fa-users"></i><span>Payroll</span></a></li> -->
                    <li><a href="#" ui-sref="site.forms.templates.list" class="box-crm"><i class="fa fa-file"></i><span>Forms</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- LOGO -->
    <div class="logo-room clearfix">
        <div class="logo"></div>
        <div class="product-name accounts">Accounts</div>
    </div>

    <!--TOP MAIN LINKS-->
    <!--<div class="top-main-links">
        <ul class="main-links">
            <li>
                <a href="#">Link 1 <i class="fa fa-angle-down"></i></a>
                <ul class="sub-links animated fadeInDown">
                    <li>
                        <a href="#">Sub Link 1 <i class="fa fa-angle-right"></i></a>
                        <ul class="sub-sub-links animated fadeInDown">
                            <li><a href="#">Sub Sub Link 1</a></li>
                            <li><a href="#">Sub Sub Link 2</a></li>
                            <li><a href="#">Sub Sub Link 3</a></li>
                            <li><a href="#">Sub Sub Link 4</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Sub Link 2 <i class="fa fa-angle-right"></i></a>
                        <ul class="sub-sub-links animated fadeInDown">
                            <li><a href="#">Sub Sub Link 1</a></li>
                            <li><a href="#">Sub Sub Link 2</a></li>
                            <li><a href="#">Sub Sub Link 3</a></li>
                            <li><a href="#">Sub Sub Link 4</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Sub Link 3</a></li>
                    <li><a href="#">Sub Link 4</a></li>
                </ul>
            </li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
        </ul>
    </div>-->

    <!-- HEADER NAVIGATION -->
    <nav class="nav-top">
        <ul>
            <li><a href="#" ng-click="logout($event)">Log out</a></li>
        </ul>
    </nav>
</header>

<!-- BODY MAIN -->
<div class="body-main clearfix">
    
    <script type="text/ng-template" id="messages.html">
        <p ng-message="required">This field is required</p>
        <p ng-message="minlength">This field is too short</p>
        <p ng-message="maxlength">This field is too long</p>
        <p ng-message="required">This field is required</p>
        <p ng-message="email">This needs to be a valid email</p>
    </script>

    <aside class="aside-main">
        <div class="aside-menu">
            <a href="#" class="first-level"><i class="fa fa-chevron-down"></i> Users</a>
            <ul class="second-level">
                <li ui-sref-active="active"><a href="#" ui-sref="site.accounts.user.add">Add</a></li>
            </ul>
        </div>
    </aside>
    <section class="section-main">
        <div ui-view>

        </div>
    </section>
</div>