﻿<div class="template-input">
    <span ng-click="onRemove(index)" class="remove-template-input" title="Remove">
        <i class="fa fa-remove"></i>
    </span>
    <input type="text" readonly="readonly" ng-model="ngModel.hint" title="{{ngModel.title}}" />
    <span class="element-icon">
        <i class="fa fa-font" ng-if="ngModel.isConvert"></i>
        <i class="fa fa-calendar" ng-if="ngModel.isDate"></i>
        <i class="fa fa-money" ng-if="ngModel.isNumeric"></i>
        <i class="fa fa-i-cursor" ng-if="!ngModel.isConvert && !ngModel.isDate && !ngModel.isNumeric"></i>
    </span>
    <span class="resize" title="Resize">
        <i class="fa fa-square"></i>
    </span>

    <button type="button" class="btn btn-info btn-sm text-convert" title="Add Text Convert Input" ng-click="onConvert(ngModel)" ng-if="ngModel.isNumeric && !ngModel.hasConvertInput">
        <i class="fa fa-font"></i>
    </button>
    <button type="button" title="Decrease Font" class="btn btn-warning btn-sm font-sizer font-sizer2" ng-click="decreaseFont()">
        <i class="fa fa-font"></i>
        <i class="fa fa-angle-down"></i>
    </button>
    <button type="button" title="Increase Font" class="btn btn-info btn-sm font-sizer" ng-click="increaseFont()">
        <i class="fa fa-font"></i>
        <i class="fa fa-angle-up"></i>
    </button>
    <div class="auto-complete-box" ng-if="!ngModel.isNumeric && !ngModel.isConvert && !ngModel.isDate">
        <label>
            <input type="checkbox" name="autoComplete" ng-model="ngModel.isAutoComplete" />
            Auto-Complete
        </label>
    </div>
</div>