﻿@model D7Soft.Web.Models.BaseModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="'D7 - ' + pageTitle"></title>
    @Styles.Render("~/bundles/css")
    <script type="text/javascript" src="~/Scripts/utilities.global.js"></script>
    <script>
        (function () {
            d7.environment = '@Model.Environment';
            d7.version = '@Model.Version';
        })();
    </script>

    <script data-main="@Url.Content("/Scripts/main.js?randm=" + DateTime.Now.Ticks)" src="~/Scripts/Vendors/require.min.js"></script>
</head>
<body ng-controller="indexController" ng-init="initializeController()" ng-cloak>
    @RenderBody()
</body>
</html>