﻿ <!-- HEADER MAIN -->
<header class="header-main clearfix">
    <!-- BOX LIST -->
    <div class="box-list-room clearfix">
        <button class="box-list-button" ng-click="productnav=!productnav"></button>
        <div class="box-list-inner animated" ng-show="productnav">
            <span class="triangle-up"></span>
            <div class="box-list">
                <ul>
                    <!-- <li><a href="#" class="box-payroll"><i class="fa fa-users"></i><span>Payroll</span></a></li> -->
                    <li><a href="#" ui-sref="site.accounts.user.list" class="box-crm"><i class="fa fa-users"></i><span>Users</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- LOGO -->
    <div class="logo-room clearfix">
        <div class="logo"></div>
        <div class="product-name">Forms</div>
    </div>

    <!-- HEADER NAVIGATION -->
    <nav class="nav-top">
        <ul>
            <li><a href="#" ng-click="logout($event)">Log out</a></li>
        </ul>
    </nav>
</header>

<!-- BODY MAIN -->
<div class="body-main clearfix">
    <script type="text/ng-template" id="messages.html">
        <p ng-message="required">This field is required</p>
        <p ng-message="minlength">This field is too short</p>
        <p ng-message="maxlength">This field is too long</p>
        <p ng-message="required">This field is required</p>
        <p ng-message="email">This needs to be a valid email</p>
    </script>

    <aside class="aside-main">
        <div class="aside-menu">
            <a href="#" class="first-level"><i class="fa fa-chevron-down"></i> Forms</a>
            <ul class="second-level">
                <li ui-sref-active="active"><a href="#" ui-sref="site.forms.templates.list">Templates</a></li>
                <li ui-sref-active="active"><a href="#" ui-sref="site.forms.customers.list">Customers</a></li>
            </ul>
        </div>
    </aside>
    <section class="section-main">
        <div ui-view>
            
        </div>
    </section>
</div>