﻿<div class="sm-head">
    <ul class="breadcrumbs">
        <li><a href="#" ui-sref="site.forms.templates.list">Templates</a></li>
        <li>Add</li>
    </ul>
</div>
<div class="sm-body">

    <form novalidate name="formTemplate" ng-submit="onSubmit()">
        <div class="row">
            <div class="col-xs-6">
                <!-- Input Normal -->
                <div class="field field-input">
                    <label>Template Name<span class="required">*</span></label>
                    <input type="text" ng-model="form.name" ng-required="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <!-- Input Normal -->
                <div class="field field-input">
                    <label>Width<span class="required">*</span></label>
                    <input type="text" ng-model="form.width" ng-required="true"/>
                </div>
            </div>
            <div class="col-xs-6">
                <!-- Input Normal -->
                <div class="field field-input">
                    <label>Height<span class="required">*</span></label>
                    <input type="text" ng-model="form.height" ng-required="true"/>
                </div>
            </div>
            <div class="col-xs-12">
                <button type="button" class="btn btn-sm btn-info" ng-click="addText()"><i class="fa fa-i-cursor"></i> Add Text</button>
                <button type="button" class="btn btn-sm btn-success" ng-click="addNumeric()"><i class="fa fa-money"></i> Add Numeric</button>
                <button type="button" class="btn btn-sm btn-success" ng-click="addDate()"><i class="fa fa-calendar"></i> Add Date</button>
                <br/>
                <br/>
            </div>

            <div class="col-xs-12">

                <div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     ngf-accept="'image/*'" ngf-resize="{width: form.width, height: form.height}" ngf-max-size="20MB" ngf-min-height="100"><i class="fa fa-image"></i> Select Image</div>
                <br/><br />
                <div class="template-container disable-text-selection">
                    <img ngf-src="file" width="{{form.width}}" class="img-sizer" />
                    <img ngf-src="file" width="{{form.width}}" class="img-background" />

                    <div ng-repeat="input in form.inputs" ng-model="input" draggable on-remove="onRemove" on-convert="onConvert" index="$index"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-commands clearfix">
                    <button type="submit" class="button-gen button-primary" >Save</button>
                    <button type="button" ng-click="cancel()" class="button-gen button-default">Cancel</button>
                </div>
            </div>
        </div>
    </form>

</div>