﻿<div class="sm-head">
    <ul class="breadcrumbs">
        <li>Templates</li>
    </ul>
</div>
<div class="sm-body">
    <a href="#" ui-sref="site.forms.templates.add" class="btn btn-sm btn-default"> <i class="fa fa-plus"></i> Add New Template</a>
    <br/>
    <br />
    <div ui-grid="gridOptions" class="ui-grid"></div>
</div>