﻿<div class="sm-head">
    <ul class="breadcrumbs">
        <li><a href="#" ui-sref="site.forms.templates.list">Templates</a></li>
        <li><a href="#" ui-sref="site.forms.templates.edit({'id':template.id})">{{template.name}}</a></li>
        <li>Print</li>
    </ul>
</div>
<div class="sm-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="print-template-main-container">
                <div class="disable-text-selection print-template-container">
                    <img ng-src="{{template.image}}" width="{{template.width}}" class="img-sizer" />
                    <img ng-src="{{template.image}}" width="{{template.width}}" class="img-background" />

                    <div class="input-container" ng-repeat="input in template.inputs">
                        <div ng-style="{'position':'absolute','top':input.positionY + 'px','left':(input.positionX + 10) + 'px','width':input.width + 'px','font-size':input.fontSize + 'px'}">
                            <input ng-if="input.isDate" ng-model="input.text" uib-datepicker-popup="MMMM dd, yyyy" is-open="input.openDatePicker" type="text" class="template-input" ng-class="{'is-converted':input.isConvert}" ng-style="{'width':input.width + 'px','font-size':input.fontSize + 'px'}" />

                            <div ng-if="input.isAutoComplete">
                                <!--<input type="text" ng-model="input.text" uib-typeahead="item for item in getNames($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="template-input" ng-style="{'width':input.width + 'px','font-size':input.fontSize + 'px'}">-->
                                <input ng-model="input.text" type="text" ng-change="clearInput(input)" class="template-input" uib-typeahead="item as item.name for item in getNames($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-wait-ms="500" ng-style="{'width':input.width + 'px','font-size':input.fontSize + 'px'}" />
                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh loading-autocomplete"></i>
                            </div>

                            <input ng-if="input.isNumeric" ng-model="input.text" ng-change="numberToText(input)" type="text" pattern="[0-9]+([\.,][0-9]+)*" class="template-input" ng-style="{'width':input.width + 'px','font-size':input.fontSize + 'px'}" />
                            <button ng-if="input.isDate" class="btn-datepicker" type="button" ng-click="input.openDatePicker = !input.openDatePicker"><i class="glyphicon glyphicon-calendar"></i></button>
                            <input ng-if="!input.isAutoComplete && !input.isNumeric && !input.isDate" ng-model="input.text" type="text" class="template-input" ng-class="{'is-converted':input.isConvert}" ng-style="{'width':input.width + 'px','font-size':input.fontSize + 'px'}" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" ng-click="print()" class="btn btn-default hide-on-print"><i class="fa fa-print"></i> Print</button>
        </div>
    </div>
</div>