﻿<div class="sm-head">
    <ul class="breadcrumbs">
        <li><a href="#" ui-sref="site.accounts.user.list">Users</a></li>
        <li>{{user.firstName + ' ' + user.lastName}}</li>
    </ul>
</div>

<div class="sm-body">
    <form ng-submit="formSubmit()" name="userForm" novalidate>
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="field field-input">
                            <label>First Name <span class="required">*</span></label>
                            <input type="text" name="firstName" ng-model="form.firstName" ng-required="true">
                            <div ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$touched || userForm.$submitted" role="alert">
                                <div ng-messages-include="messages.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="field field-input">
                            <label>Last Name <span class="required">*</span></label>
                            <input type="text" name="lastName" ng-model="form.lastName" ng-required="true">
                            <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$touched || userForm.$submitted" role="alert">
                                <div ng-messages-include="messages.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="field field-input">
                            <label>Username <span class="required">*</span></label>
                            <input type="text" name="username" ng-model="form.username" ng-required="true">
                            <div ng-messages="userForm.username.$error" ng-show="userForm.username.$touched || userForm.$submitted" role="alert">
                                <div ng-messages-include="messages.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="field field-input">
                            <label>Email <span class="required">*</span></label>
                            <input type="email" name="email" ng-model="form.email" ng-required="true">
                            <div ng-messages="userForm.email.$error" ng-show="userForm.email.$touched || userForm.$submitted" role="alert">
                                <div ng-messages-include="messages.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-commands clearfix">
                    <button type="submit" class="button-gen button-primary">Save</button>
                    <button type="button" ng-click="cancel()" class="button-gen button-default">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>