﻿<div class="sm-head">
    <ul class="breadcrumbs">
        <li>Users</li>
    </ul>
</div>
<div class="sm-body">
    <a href="#" ui-sref="site.accounts.user.add" class="btn btn-sm btn-default"> <i class="fa fa-user"></i> Add New User</a>
    <br />
    <br />
    <div ui-grid="gridOptions" class="ui-grid"></div>
</div>