﻿<div class="sm-head">
    <ul class="breadcrumbs">
        <li><a href="#" ui-sref="site.accounts.user.list">Users</a></li>
        <li><a href="#" ui-sref="site.accounts.user.edit({id:user.id})">{{user.firstName + ' ' + user.lastName}}</a></li>
        <li>Change Password</li>
    </ul>
</div>

<div class="sm-body">
    <form ng-submit="formSubmit()" name="userForm" novalidate>
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="field field-input">
                            <label>Password <span class="required">*</span></label>
                            <input type="password" name="password" ng-minlength="4" maxlength="16" ng-model="form.password" ng-required="true">
                            <div ng-messages="userForm.password.$error" ng-show="userForm.password.$touched || userForm.$submitted" role="alert">
                                <div ng-messages-include="messages.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="field field-input">
                            <label>Confirm Password <span class="required">*</span></label>
                            <input type="password" name="confirmPassword" ng-minlength="4" maxlengthlength="16" ng-model="form.confirmPassword" ng-required="true">
                            <div ng-messages="userForm.confirmPassword.$error" ng-show="userForm.confirmPassword.$touched || userForm.$submitted" role="alert">
                                <div ng-messages-include="messages.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-commands clearfix">
                    <button type="submit" class="button-gen button-primary">Save</button>
                    <button type="button" ng-click="cancel()" class="button-gen button-default">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>