﻿<div class="sm-head">
    <ul class="breadcrumbs">
        <li><a href="#" ui-sref="site.accounts.user.list">Users</a></li>
        <li><a href="#" ui-sref="site.accounts.user.edit({id:user.id})">{{user.firstName + ' ' + user.lastName}}</a></li>
        <li>Roles</li>
    </ul>
</div>

<div class="sm-body">
    <form ng-submit="formSubmit()" name="roleForm">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered table-hover" ng-repeat="group in roleGroups">
                    <caption>{{group.name}}</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Key</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="role in group.roles">
                            <td><input type="checkbox" ng-model="role.selected" ng-value="true" /></td>
                            <td>{{role.name}}</td>
                            <td>{{role.key}}</td>
                            <td>{{role.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-commands clearfix">
                    <button type="submit" class="button-gen button-primary">Save</button>
                    <button type="button" ng-click="cancel()" class="button-gen button-default">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>