﻿<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <h4>{{message}}</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>