﻿<form novalidate name="formCustomerEdit" ng-submit="onSubmit()">
    <div class="modal-header">
        <h3 class="modal-title">Edit Customer</h3>
    </div>
    <div class="modal-body op-modal">
        <div class="field field-input">
            <div class="row">
                <div class="col-xs-6">
                    <label>First Name <span class="required">*</span></label>
                    <input type="text" class="form-control" name="firstName" ng-model="form.firstName" ng-required="true" />
                    <div ng-messages="formCustomerEdit.firstName.$error" ng-show="formCustomerEdit.firstName.$touched || formCustomerEdit.$submitted" role="alert">
                        <div ng-messages-include="messages.html"></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label>Middle Name</label>
                    <input type="text" class="form-control" name="middleName" ng-model="form.middleName" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" ng-model="form.lastName" />
                    <div ng-messages="formCustomerEdit.lastName.$error" ng-show="formCustomerEdit.lastName.$touched || formCustomerEdit.$submitted" role="alert">
                        <div ng-messages-include="messages.html"></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label>Company</label>
                    <input type="text" class="form-control" name="company" ng-model="form.company" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label>Contact Number</label>
                    <input type="text" class="form-control" name="contactNumber" ng-model="form.contactNumber" />
                </div>
                <div class="col-xs-6">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address" ng-model="form.address" ng-required="true" />
                    <div ng-messages="formCustomerEdit.address.$error" ng-show="formCustomerEdit.address.$touched || formCustomerEdit.$submitted" role="alert">
                        <div ng-messages-include="messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit">Submit</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>