/*FONTS*/

/*DIN Light Font*/
@font-face {
    font-family: 'DIN-Light';
    src: url('../fonts/din/light/dinli5-webfont.eot');
    src: url('../fonts/din/light/dinli5-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/light/dinli5-webfont.woff2') format('woff2'),
         url('../fonts/din/light/dinli5-webfont.woff') format('woff'),
         url('../fonts/din/light/dinli5-webfont.ttf') format('truetype'),
         url('../fonts/din/light/dinli5-webfont.svg#din-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*DIN Regular Font*/
@font-face {
    font-family: 'DIN-Regular';
    src: url('../fonts/din/regular/dinre10-webfont.eot');
    src: url('../fonts/din/regular/dinre10-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/regular/dinre10-webfont.woff2') format('woff2'),
         url('../fonts/din/regular/dinre10-webfont.woff') format('woff'),
         url('../fonts/din/regular/dinre10-webfont.ttf') format('truetype'),
         url('../fonts/din/regular/dinre10-webfont.svg#din-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*DIN Medium Font*/
@font-face {
    font-family: 'DIN-Medium';
    src: url('../fonts/din/medium/dinme7-webfont.eot');
    src: url('../fonts/din/medium/dinme7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/medium/dinme7-webfont.woff2') format('woff2'),
         url('../fonts/din/medium/dinme7-webfont.woff') format('woff'),
         url('../fonts/din/medium/dinme7-webfont.ttf') format('truetype'),
         url('../fonts/din/medium/dinme7-webfont.svg#din-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*DIN Bold Font*/
@font-face {
    font-family: 'DIN-Bold';
    src: url('../fonts/din/bold/dinbo3-webfont.eot');
    src: url('../fonts/din/bold/dinbo3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/bold/dinbo3-webfont.woff2') format('woff2'),
         url('../fonts/din/bold/dinbo3-webfont.woff') format('woff'),
         url('../fonts/din/bold/dinbo3-webfont.ttf') format('truetype'),
         url('../fonts/din/bold/dinbo3-webfont.svg#din-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*DIN Black Font*/
@font-face {
    font-family: 'DIN-Black';
    src: url('../fonts/din/black/dinbl1-webfont.eot');
    src: url('../fonts/din/black/dinbl1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/black/dinbl1-webfont.woff2') format('woff2'),
         url('../fonts/din/black/dinbl1-webfont.woff') format('woff'),
         url('../fonts/din/black/dinbl1-webfont.ttf') format('truetype'),
         url('../fonts/din/black/dinbl1-webfont.svg#din-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*DIN Schrift Font*/
@font-face {
    font-family: 'DIN-Schrift';
    src: url('../fonts/din/schrift/dinmi9-webfont.eot');
    src: url('../fonts/din/schrift/dinmi9-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/schrift/dinmi9-webfont.woff2') format('woff2'),
         url('../fonts/din/schrift/dinmi9-webfont.woff') format('woff'),
         url('../fonts/din/schrift/dinmi9-webfont.ttf') format('truetype'),
         url('../fonts/din/schrift/dinmi9-webfont.svg#dinschriftregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ...CUSTOM RESET... */
*:focus, *:active {outline: 0;}
html {height: 100vh;}
ul {list-style: none; margin: 0; padding: 0;}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    overflow-x: hidden;
    color: #4d4e48;
    height: 100vh;
    min-width: 1200px;
}
h1,h2,h3,h4,h5,h6 {font-family: "DIN-Medium"; margin: 0;}
a {
    color: #0084b4; /*general*/
    transition: 0.1s color linear;
    -webkit-transition: 0.1s color linear;
    -moz-transition: 0.1s color linear;
    -ms-transition: 0.1s color linear;
}

body.theme-payroll a {color: #8fb220;}
a:hover, a:focus, a:active {text-decoration: none;}

/*FORM GENERAL*/
input, 
select, 
textarea {border-radius: 3px;}
input:focus, 
select:focus, 
textarea:focus {border: 1px solid #a4c639!important;}

/*LOGIN*/
.login-main {background: #a4c639; height: 100%;}
.login-main .login-room {background: #ffffff url(../images/general/logo-white.png) top 40px center no-repeat; position: absolute; left: 50%; top: 30%; transform: translateY(-50%); transform: translateX(-50%); padding: 100px 30px 30px 30px; width: 350px; border-radius: 2px; border: 1px solid #d7d7d7;}
.login-main .login-room .login-fields {font-family: "DIN-Regular";}
.login-main .login-room .login-fields input {font-size: 14px; font-family: "DIN-Regular"; color: #454545; background: #fdfdfd; display: block; margin-bottom: 5px; border-radius: 2px; height: 35px; padding: 4px  10px 2px 10px; border: 1px solid #e3e3e3; width: 100%;}
.login-main .login-room .login-fields .password-room {position: relative;}
.login-main .login-room .login-fields .password-room input {}
.login-main .login-room .login-fields .password-room a {position: absolute; top: 9px; right: 10px; font-size: 13px;}
.login-main .login-room .login-fields button {font-family: "DIN-Medium"; font-size: 14px; padding: 8px; width: 100%; border-radius: 2px; margin-top: 10px; background: #0084b4; color: #ffffff; border: none;}


/* MAINE STYLE */
.header-main {height: 50px; background: #a4c639;border-bottom: 1px solid #8ea938;}
.header-accounts {background: #e8771b;border-bottom: 1px solid #e8771b;}
.header-main .box-list-room {width: 55px; float: left; position: relative;}

.header-main .box-list-room .box-list-button {display: block; border: none; width: 55px; height: 50px; background: #849e30 url(../images/icons/icon-boxes.png) center center no-repeat;}
.header-main .box-list-room .box-list-button.accounts {display: block; border: none; width: 55px; height: 50px; background: #ec9349 url(../images/icons/icon-boxes.png) center center no-repeat;}

.header-main .box-list-room .box-list-button.on {background: #aaaaaa url(../images/icons/icon-boxes.png) center center no-repeat;}
.header-main .box-list-room .box-list-button:hover {}
.header-main .box-list-room .box-list-inner {z-index: 90; position: absolute; top: 65px; left: 10px;}
.header-main .box-list-room .box-list-inner.on {display: block;}
.header-main .box-list-room .box-list-inner span.triangle-up {z-index: 95; position: absolute; top: -9px; left: 5px; width: 28px; height: 10px; background: url(../images/icons/triangle-up.png) center center no-repeat;}
.header-main .box-list-room .box-list-inner .box-list {width: 338px; height: 194px; z-index: 80; padding: 15px 15px 14px 15px; background: #ffffff; border: 1px solid #bac1b6; -webkit-box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.25); -moz-box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.25); box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.25);}
.header-main .box-list-room .box-list-inner .box-list ul {}
.header-main .box-list-room .box-list-inner .box-list ul li {display: inline-block; float: left;}
.header-main .box-list-room .box-list-inner .box-list ul li a {font-family: "DIN-Regular"; font-size: 11px; display: block; width: 100px; height: 80px; float: left; margin-right: 2px; margin-bottom: 2px; color: #ffffff; text-align: center; text-transform: uppercase; transition: 0.1s background linear; -webkit-transition: 0.1s background linear; -moz-transition: 0.1s background linear; -ms-transition: 0.1s background linear;}
.header-main .box-list-room .box-list-inner .box-list ul li a i {display: block; font-size: 26px; margin: 18px 0 12px 0;}
.header-main .box-list-room .box-list-inner .box-list ul li a.box-payroll {background: #a4c639;}
.header-main .box-list-room .box-list-inner .box-list ul li a.box-crm {background: #e8771b;}
.header-main .box-list-room .box-list-inner .box-list ul li a.box-accounting {background: #d23030;}
.header-main .box-list-room .box-list-inner .box-list ul li a.box-inventory {background: #4173b7;}
.header-main .box-list-room .box-list-inner .box-list ul li a.box-website {background: #b7418f;}
.header-main .box-list-room .box-list-inner .box-list ul li a.box-settings {background: #909090;}
.header-main .box-list-room .box-list-inner .box-list ul li a:hover {background: #aaaaaa;}
.header-main .logo-room {float: left;}
.header-main .logo-room .logo {float: left; margin-left: 10px; display: block; width: 86px; height: 50px; background: url(../images/general/logo-white.png) center center no-repeat;}
.global .header-main .logo-room .logo {background: url(../images/general/logo-general.png) center center no-repeat;}

.header-main .logo-room .product-name {float: left; color: #fff; font-family: "DIN-Light"; font-size: 18px; margin: 16px 10px 14px 10px; padding: 0 18px; border-left: 1px solid #b8d263; border-right: 1px solid #b8d263;}
.header-main .logo-room .product-name.accounts {float: left; color: #fff; font-family: "DIN-Light"; font-size: 18px; margin: 16px 10px 14px 10px; padding: 0 18px; border-left: 1px solid #f1ae77; border-right: 1px solid #f1ae77;}

.header-main .nav-top {float: right;}
.header-main .nav-top ul {margin: 16px 20px 14px 0;}
.header-main .nav-top ul li {display: inline-block;}
.header-main .nav-top ul li a {color: #fff; font-weight: bold; font-size: 11px;}
.header-main .nav-top ul li:first-child {border-right: 1px solid #b8d263; padding-right: 10px; margin-right: 10px;}

.aside-main {float: left; width: 15%; height: 100%; padding: 40px 0; border-right: 1px solid #daded8;}
.aside-main .aside-menu {}
.aside-main .aside-menu a.first-level {display: block; padding-left: 20px; color: #4d4e48; font-family: "DIN-Light"; font-size: 16px; margin-bottom: 15px;}
.aside-main .aside-menu a.first-level i {font-size: 10px; position: relative; top: -2px;}
.aside-main .aside-menu ul.second-level {margin-bottom: 10px;}
.aside-main .aside-menu ul.second-level li {display: block;}
.aside-main .aside-menu ul.second-level li a {font-family: "DIN-Medium"; font-size: 12px; display: block; padding-left: 35px; margin-bottom: 1px; height: 30px; line-height: 33px; color: #4d4e48;}
.aside-main .aside-menu ul.second-level li a:hover, .aside-main .aside-menu ul.second-level li.active a {background: #ebeee0;}
.aside-main .aside-menu a.menu-more {font-family: "DIN-Regular"; font-size: 12px; display: block; padding-left: 35px;}
.aside-main .aside-menu a.menu-more i {float: right; font-size: 10px; padding-right: 20px; position: relative; top: 4px;}

.body-main {height: 100vh;}
.section-main {float: right; width: 85%;}
.section-main.full-width {float: none; width: 100%;}
.section-main .sm-head {height: 42px; background: #ffffff; border-bottom: 1px solid #daded8;}
.section-main .sm-head .breadcrumbs {}
.section-main .sm-head ul.breadcrumbs {}
.section-main .sm-head ul.breadcrumbs li {height: 42px; line-height: 45px; border-left: 1px solid #e3e3e3;  padding: 0 20px; float: left; display: block; color: #4d4e48; font-family: "DIN-Medium"; font-size: 14px; text-transform: uppercase;}
.section-main .sm-head ul.breadcrumbs li:first-child {border-left: none;}
.section-main .sm-head ul.breadcrumbs li a {color: #8fb220; font-family: "DIN-Medium"; font-size: 14px; text-transform: uppercase;}
.section-main .sm-body {padding: 20px; position: relative;}
.section-main .sm-body form {}
.section-main .sm-body form .field {margin-bottom: 15px;}
.section-main .sm-body form .field label {display: block; font-family: Arial;  font-size: 12px; color: #4d4e48; margin-bottom: 3px;}
.section-main .sm-body form .field label span.required {color: #e5551d; font-size: 16px;}
.section-main .sm-body form .field input {width: 100%; height: 35px; border: 1px solid #c1c1c1; padding: 7px 10px; font-size: 13px;}
.section-main .sm-body form .field-select select {width: 100%; height: 35px; border: 1px solid #c1c1c1; padding: 0 5px; font-size: 13px;}
.section-main .sm-body form .field-two input {float: left; width: 49%; height: 35px; border: 1px solid #c1c1c1; padding: 7px 10px; font-size: 13px;}
.section-main .sm-body form .field-two input:nth-child(2) {margin-right: 2%;}
.section-main .sm-body form .field-select-multiple {}
.section-main .sm-body form .field-select-multiple .select-multiple-room {position: relative;}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-button {width: 100%; height: 35px; border-radius: 3px; border: 1px solid #c1c1c1; padding: 8px 10px; font-size: 13px;}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-button.on {border: 1px solid #a4c639;}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-button i {float: right; margin-top: 3px;}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-button.on .fa-caret-down:before {content: "\f0d8";}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-box {display: none; position: absolute; z-index: 200; top: 35px; left: 0; background: #ffffff; width: 100%; padding: 10px 0 5px 0; border: 1px solid #c1c1c1; -webkit-box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.25); -moz-box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.25); box-shadow: 3px 3px 6px -3px rgba(0,0,0,0.25);}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-box.on {display: block;}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-box .select-multiple-search {position: relative; margin-bottom: 10px; padding: 0 10px;}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-box .select-multiple-search input {width: 100%; border: 1px solid #d7d7d7; height: 30px; padding: 5px 10px 5px 28px;}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-box .select-multiple-search i {position: absolute; top: 9px; left: 20px; }
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-box .select-multiple-list {}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-box .select-multiple-list ul {}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-box .select-multiple-list ul li {display: block; padding: 0 10px; height: 26px; line-height: 26px; margin-bottom: 1px;}
.section-main .sm-body form .field-select-multiple .select-multiple-room .select-multiple-box .select-multiple-list ul li:hover {background: #a4c639; color: #ffffff;}
.section-main .sm-body form .field-input-tags .input-tags-room {}
.section-main .sm-body form .field-input-tags .input-tags-room ul {margin-bottom: 2px;}
.section-main .sm-body form .field-input-tags .input-tags-room ul li {float: left; display: inline-block; background: #a4c639; border-radius: 2px; margin: 0 0 1px 1px; padding: 3px 7px; color: #ffffff; font-size: 12px;}
.section-main .sm-body form .field-input-tags .input-tags-room ul li:first-child {margin-left: 0;}
.section-main .sm-body form .field-input-tags .input-tags-room ul li.tag-existing {background: #d23030;}
.section-main .sm-body form .field-input-tags .input-tags-room ul li a {color: #ffffff; margin-left: 5px;}
.section-main .sm-body form .field-input-tags .input-tags-room ul li a:hover {color: #849e30;}
.section-main .sm-body form .field-input-tags .input-tags-room input {}

.section-main .sm-body form .form-note {margin: 20px 0;}
.section-main .sm-body form .form-note p {background: #f1f1f1; padding: 7px 13px; color: #888888; font-size: 12px; border-radius: 3px; font-style: italic;}
.section-main .sm-body form .form-commands {background: #f5f5f5; padding: 10px; border-top: 1px solid #d7d7d7;}
.section-main .sm-body form .form-commands .button-gen {float: left; margin-right: 5px; display: block; width: 100px; height: 35px; border-radius: 2px;}
.section-main .sm-body form .form-commands .button-primary {text-transform: uppercase; font-size: 11px; border: 1px solid #767974; background: #a4c639; color: #ffffff;}
.section-main .sm-body form .form-commands .button-default {text-transform: uppercase; font-size: 11px; border: 1px solid #767974; background: #ffffff; color: #505050;}

.product-selection {text-align: center;}
.product-selection h2 {color: #4d4e48; font-family: "DIN-Light"; font-size: 22px; margin: 14% 0 20px 0;}
.product-selection .box-list {}
.product-selection .box-list ul {text-align: center;}
.product-selection .box-list ul li {display: inline-block;}
.product-selection .box-list ul li a {font-family: "DIN-Regular"; background: #aaaaaa; font-size: 10px; display: inline; width: 80px; height: 60px; float: left; margin: 0 5px; color: #ffffff; text-align: center; text-transform: uppercase; transition: 0.1s background linear; -webkit-transition: 0.1s background linear; -moz-transition: 0.1s background linear; -ms-transition: 0.1s background linear;}
.product-selection .box-list ul li a i {display: block; font-size: 22px; margin: 12px 0 5px 0;}
.product-selection .box-list ul li.active a.box-payroll, .product-selection .box-list ul li a.box-payroll:hover {background: #a4c639;}
.product-selection .box-list ul li.active a.box-crm, .product-selection .box-list ul li a.box-crm:hover {background: #e8771b;}
.product-selection .box-list ul li.active a.box-accounting, .product-selection .box-list ul li a.box-accounting:hover {background: #d23030;}
.product-selection .box-list ul li.active a.box-inventory, .product-selection .box-list ul li a.box-inventory:hover {background: #4173b7;}








/*LOADER BASE CSS*/
.loader {
  display: inline-block;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid rgba(164, 198, 57, 0.2);
  border-right: 2px solid rgba(164, 198, 57, 0.2);
  border-bottom: 2px solid rgba(164, 198, 57, 0.2);
  border-left: 2px solid #a4c639;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*GENERAL LOADERS*/
.loading-general {max-width: 300px; min-height: 60px; border-radius: 3px; display: block; background: #ffffff; text-align: center; position: fixed; left: 50%; z-index: 1000; margin-left: -128.5px; transform: translateX(-50%); -webkit-box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.25); -moz-box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.25); box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.25);}
.loading-general.top {top: 20px;}
.loading-general.bottom {bottom: 20px;}
.loading-general.success {border: 1px solid #8eb021;}
.loading-general.info {border: 1px solid #238ebc;}
.loading-general.warning {border: 1px solid #eecb09;}
.loading-general.error {border: 1px solid #d04437;}
.loading-general .message-room {padding: 20px 40px 20px 60px;}
.loading-general .message-room .icon-room {bottom: 0; content: ''; left: 0; position: absolute; top: 0; width: 40px; height: 100%;}
.loading-general .message-room .icon-room .loader {top: 35%; border-top: 2px solid rgba(255, 255, 255, 0.3); border-right: 2px solid rgba(255, 255, 255, 0.3); border-bottom: 2px solid rgba(255, 255, 255, 0.3); border-left: 2px solid #ffffff;}
.loading-general .message-room .icon-room i {position: relative; top: 35%; color: #ffffff; font-size: 21px;}
.loading-general.success .message-room .icon-room {background: #8eb021;}
.loading-general.info .message-room .icon-room {background: #238ebc;}
.loading-general.warning .message-room .icon-room {background: #eecb09;}
.loading-general.error .message-room .icon-room {background: #d04437;}
.loading-general .message-room .message {overflow-wrap: break-word; word-wrap: break-word; word-break: break-word;}
.loading-general .close-message {position: absolute; top: 3px; right: 5px; font-size: 15px; color: #777777;}

.template-container {
    position: relative;
    float: left;
}
.print-template-container .img-sizer,
.template-container .img-sizer {
    visibility: hidden;
}

.print-template-container .img-background,
.template-container .img-background {
    position: absolute;
    top: 0;
    left: 0;
}

.print-template-container .template-input,
.template-container .template-input {
    position: absolute;
}


.template-container .template-input .remove-template-input:hover {
    cursor: pointer;
}

.print-template-container input.template-input {
    background: none;
    border: 1.5px dotted;
    font-size: 20px;
    font-family: Consolas;
}

.print-template-container input.template-input.is-converted {
    text-transform: uppercase;
    font-size: 15px;
} 

.template-container .template-input input {
    background: none;
    width: 440px;
    border: 2px dotted;
    font-size: 20px;
}

.template-container .template-input:hover {
     cursor: move;
}

.template-container .template-input input:focus {
     border: 2px dotted #000 !important;
}

.template-container .template-input input:active {
    cursor: move;
}
.template-container .template-input .resize {
    position: absolute;
    top: 3px;
    right: -2px;
    font-size: 7px;
}

.template-container .template-input .element-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
}

.template-container .template-input .resize:hover {
    cursor: ew-resize;
}

.template-container .template-input .resize:active {
    cursor: ew-resize;
}

.template-container .template-input .text-convert {
    position: absolute;
    top: -30px;
    right: 0;
    display: none;
}

.template-container .template-input:hover .text-convert {
    display: block;
}

.template-container .template-input:hover .text-convert:hover {
    display: block;
}

.small-btn {
    padding: 1px 10px;
}

.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.print-template-container {
    position: relative;
}


 input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.font-sizer {
    font-size: 10px;
    padding: 5px 7px;
    position: absolute;
    bottom: -25px;
    right: 0;
    display: none;
    z-index: 9;
}

.font-sizer2 {
    right: 35px;
}

.btn-add-customer {
    position: absolute;
    top: 23px;
    right: 0;
    z-index: 9;
}

.auto-complete-box {
    display: none;
    position: absolute;
    left: 14px;
    color: #fff;
    cursor: pointer;
    z-index: 9;
    background-color: #cacaca;
    padding: 4px;
}

.auto-complete-box label {
    position: relative;
}

.auto-complete-box span.autocomplete-label {
    padding-left: 10px;
}

.auto-complete-box label {
    cursor: pointer;
}

.auto-complete-box input[type=checkbox] {
    width: auto;
}

.template-container .template-input:hover .auto-complete-box {
    display: block;
}

.template-container .template-input:hover .auto-complete-box:hover {
    display: block;
}

.template-container .template-input:hover .font-sizer:hover {
    display: block;
}

.template-container .template-input:hover .font-sizer {
    display: block;
}

.print-template-container .btn-datepicker {
    position: absolute;
    top: -22px;
    right: 0;
    font-size: 12px;
    display: none;
}

.print-template-container .input-container:hover .btn-datepicker {
    display: block;
}

@media print
{    
   .section-main {
       float: none !important;
   }

   .hide-on-print ,.aside-main,.section-main .sm-head,.header-main {
       display: none !important;
   }

    .print-template-container .btn-datepicker {
        display: none !important;
    }

   .section-main .sm-body {
       padding: 0;
   }

   .print-template-container .img-sizer {
        visibility: hidden;
    }

    .print-template-container .img-background {
        display: none;
    }

    .print-template-container input.template-input {
        background: none;
        border: none;
        font-family: Consolas;
    }

    .loading-general {
        display: none;
    }

    .btn-add-customer {
        display: none;
    }

}

@media print and (orientation: landscape) {
    .print-template-main-container {
        /* landscape styles */
        margin-top: 580px;
    }
}

@media print and (orientation: portrait) {
    /* portrait styles */
}

.loading-autocomplete {
    position: absolute;
    right: 10px;
    top: 5px;
}

/*MAIN TOP LINKS*/
.top-main-links {float: left; margin-top: 12px; font-family: "DIN-Medium"; font-size: 12px;}
.top-main-links ul.main-links {}
.top-main-links ul.main-links > li {display: inline-block; position: relative;}
.top-main-links ul.main-links > li:hover > a {text-decoration: underline;}
.top-main-links ul.main-links > li > a {color: #fff; display: block; padding: 5px 10px;}
.top-main-links ul.main-links > li > a:hover {text-decoration: underline;}
.top-main-links ul.main-links > li > ul.sub-links {display: none; z-index: 400; min-width: 150px; position: absolute; top: 100%; left: 0; border-radius: 2px; border-top-right-radius: 0; border-bottom-right-radius: 0; padding: 10px 0 5px 0; background: #f5f5f5; -webkit-box-shadow: 3px 3px 12px -3px rgba(0,0,0,0.39); -moz-box-shadow: 3px 3px 12px -3px rgba(0,0,0,0.39); box-shadow: 3px 3px 12px -3px rgba(0,0,0,0.39);}
.top-main-links ul.main-links > li > ul.sub-links li {position: relative; display: block; margin-bottom: 5px;}
.top-main-links ul.main-links > li ul.sub-links li a {color: #4d4e48; display: block; padding: 5px 15px 3px 15px;}
.top-main-links ul.main-links > li ul.sub-links li a i {float: right; position: relative; top: 1px;}
.top-main-links ul.main-links > li ul.sub-links li a:hover {background: #e8771b; color: #fff;}
.top-main-links ul.main-links li:hover > a {background: #e8771b; color: #fff!important;;}
.top-main-links ul.main-links > li:hover ul.sub-links {display: block;}
.top-main-links ul.main-links > li > ul.sub-links > li ul.sub-sub-links {display: none; z-index: 400; min-width: 150px; position: absolute; top: 0; left: 100%; padding: 10px;  border-left: 1px solid #e8771b; border-radius: 2px; border-top-left-radius: 0; border-bottom-left-radius: 0; padding: 10px 0 5px 0; background: #eee; -webkit-box-shadow: 3px 3px 12px -3px rgba(0,0,0,0.39); -moz-box-shadow: 3px 3px 12px -3px rgba(0,0,0,0.39); box-shadow: 3px 3px 12px -3px rgba(0,0,0,0.39);}
.top-main-links ul.main-links > li > ul.sub-links li:hover ul.sub-sub-links {display: block;}
