﻿ <!-- LOGIN BODY-->
<div class="login-main">
    <!-- LOGIN -->
    <section class="login-room">
        <div class="login-fields">
            <form name="loginForm" ng-submit="loginSubmit()">
                <input type="text" placeholder="Username" name="username" ng-model="form.username">
                <div class="password-room">
                    <input type="password" placeholder="Password" name="password" ng-model="form.password">
                    <a href="#" class="forgot-password">Forgot?</a>
                </div>
                <button type="submit">Log in</button>
            </form>
        </div>
    </section>
</div>
