﻿ <!-- HEADER MAIN -->
<header class="header-main clearfix">
    <!-- HEADER NAVIGATION -->
    <nav class="nav-top">
        <ul>
            <li><a href="#" ng-click="logout($event)">Log out</a></li>
        </ul>
    </nav>
</header>

<!-- BODY MAIN -->
<div class="body-main clearfix">

    <!-- SECTION MAIN -->
    <section class="section-main full-width">
        <div class="product-selection">
            <h5>ACCESS DENIED!</h5>
        </div>
    </section>
</div>
