﻿ <!-- HEADER MAIN -->
<header class="header-main clearfix">
    <!-- LOGO -->
    <div class="logo-room clearfix">
        <div class="logo"></div>
    </div>
</header>

<!-- BODY MAIN -->
<div class="body-main clearfix">

    <!-- SECTION MAIN -->
    <section class="section-main full-width">
        <div class="product-selection">
            <h2>Where would you like to go</h2>
            <div class="box-list clearfix">
                <ul>
                    <li><a href="#" ui-sref="site.forms.templates.list" class="box-inventory"><i class="fa fa-cubes"></i><span>Templates</span></a></li>
                    <li><a href="#" ui-sref="site.accounts.user.list" class="box-inventory"><i class="fa fa-user"></i><span>Accounts</span></a></li>
                </ul>
            </div>
        </div>
    </section>
</div>
